@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

header svg {
    height: 45px;
    cursor: pointer;
    margin: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 0;
    margin-top: 10px;
}

.player-text {
    display: flex;
    justify-content: space-between;
    width: 550px;
    margin-bottom: 10px;
}

.player1-name {
    color: rgb(46, 46, 219);
}

.player2-name {
    color: rgb(223, 53, 53);
}

dialog {
    margin-top: 350px;
    border-radius: 12px;
    padding: 30px;
}

.dialog-names {
    display: flex;
    flex-direction: column;
}

.dialog-names > p {
    margin-bottom: 20px;
    margin-top: 0;
    display: flex;
}

.dialog-names label {
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 6px;
    margin-right: 5px;
}

.dialog-names input {
    font-size: 1rem;
    padding-left: 6px;
    border-radius: 6px;
}

dialog button {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    color: white;
    margin-right: 5px;
}

/* Symbols */
.alphaX {
    color: rgb(46, 46, 219);
}

.alphaO {
    color: rgb(223, 53, 53);
}

.submit-btn {
    background-color: rgb(34, 34, 34);
}

/* Darker on hover */
.submit-btn:hover {
  background-color: black;
}

/* Lighter when clicked or held */
.submit-btn:active {
  background-color: rgb(65, 65, 65);
}

.cancel-btn {
    background-color: rgb(100, 100, 100);
}

/* Darker on hover */
.cancel-btn:hover {
  background-color: rgb(70, 70, 70);
}

/* Lighter when clicked or held */
.cancel-btn:active {
  background-color: rgb(131, 131, 131);
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 600px;
    position: relative;
}

/* Lines */
.gameboard > .line {
    position: absolute;
    border: 3px solid black;
    visibility: hidden;
}

.horizontal {
    width: 550px;
    left: 25px;
}

.horizontal.line1 {
    top: 97px;
}

.horizontal.line2 {
    top: 306px;
}

.horizontal.line3 {
    top: 515px;
}

.vertical {
    height: 550px;
    top: 25px;
}

.vertical.line1 {
    left: 97px;
}

.vertical.line2 {
    left: 306px;
}

.vertical.line3 {
    left: 515px;
}

.north-east {
    width: 778px;
    transform: rotate(-45deg);
    top: 310px;
    left: -87px;
    right: 50px;
}

.south-east {
    width: 778px;
    transform: rotate(45deg);
    top: 302px;
    left: -87px;
    right: 50px;
}

.cell {
    aspect-ratio: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Vertical lines */
.first-column,
.second-column {
    border-right: 9px solid rgb(100, 100, 100);
}

/* Horizontal lines */
.first-row,
.second-row {
    border-bottom: 9px solid rgb(100, 100, 100);
}

main > h2 {
    text-align: center;
}

.buttons-container {
    display: flex;
    justify-content: space-evenly;
    width: 550px;
    justify-self: center;
    margin-top: 30px;
    margin-bottom: 5px;
}

.change-names-btn {
    border-radius: 12px;
    background-color: rgb(34, 34, 34);
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 15px;
    cursor: pointer;
    color: white;
}

/* Darker on hover */
.change-names-btn:hover {
    background-color: black;
}

/* Lighter when clicked or held */
.change-names-btn:active {
  background-color: rgb(65, 65, 65);
}

.restart-game-btn {
    border-radius: 12px;
    background-color: rgb(100, 100, 100);
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 15px;
    cursor: pointer;
    color: white;
}

/* Darker on hover */
.restart-game-btn:hover {
  background-color: rgb(70, 70, 70);
}

/* Lighter when clicked or held */
.restart-game-btn:active {
  background-color: rgb(131, 131, 131);
}

.result > p {
    margin: 0;
}

/* Dark mode */
.dark-mode {
    background-color: rgb(21, 21, 29);
}

.dark-mode header {
    border-bottom: 1px solid rgb(0, 0, 0);
}

.dark-mode header svg {
    color: white;
}

.dark-mode dialog {
    background-color: rgb(21, 21, 29);
    color: white;
}

.dark-mode input {
    background-color: rgb(21, 21, 29);
    color: white;
}

.dark-mode header > h1,
.dark-mode .vs-text {
    color: white;
}

.dark-mode .change-names-btn,
.dark-mode .submit-btn {
    background-color: rgb(226, 226, 226); 
    color: black;
}

.dark-mode .change-names-btn:hover,
.dark-mode .submit-btn:hover {
    background-color: rgb(194, 194, 194);
}

.dark-mode .change-names-btn:active,
.dark-mode .submit-btn:active {
    background-color: white;
}

.dark-mode .restart-game-btn,
.dark-mode .cancel-btn {
    color: black;
}

.dark-mode .result {
    color: white;
}

.dark-mode .line {
    border: 3px solid white;
}